In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("http://www.lboro.ac.uk/gawc/datasets/da7_3.csv")

In [4]:
df.head()

,City,Amsterdam,Atlanta,Bangkok,Barcelona,Beijing,Berlin,Boston,Brussels,Budapest,...,Shanghai,Singapore,Stockholm,Sydney,Taipei,Tokyo,Toronto,Warsaw,Washington,Zurich
0,Amsterdam,0.716981,0.254717,0.613208,0.594340,0.547170,0.349057,0.377358,0.669811,0.528302,...,0.452830,0.735849,0.537736,0.754717,0.594340,0.660377,0.735849,0.528302,0.367925,0.669811
1,Atlanta,0.586957,0.782609,0.500000,0.478261,0.478261,0.478261,0.478261,0.760870,0.478261,...,0.478261,0.521739,0.565217,0.630435,0.630435,0.782609,0.717391,0.478261,0.717391,0.565217
2,Bangkok,0.471015,0.166667,0.565217,0.405797,0.471015,0.239130,0.260870,0.514493,0.413043,...,0.384058,0.637681,0.362319,0.637681,0.521739,0.623188,0.528985,0.384058,0.347826,0.471015
3,Barcelona,0.642857,0.224490,0.571429,0.673469,0.469388,0.367347,0.244898,0.693878,0.520408,...,0.377551,0.673469,0.510204,0.653061,0.530612,0.724490,0.693878,0.500000,0.346939,0.642857
4,Beijing,0.432836,0.164179,0.485075,0.343284,0.477612,0.208955,0.291045,0.485075,0.358209,...,0.343284,0.597015,0.313433,0.604478,0.470149,0.559702,0.492537,0.343284,0.320896,0.447761