In [1]:
import pandas as pd
import networkx as nx

In [3]:
df = pd.read_csv("http://www.lboro.ac.uk/gawc/datasets/da7_3.csv")

In [4]:
df.head()

,City,Amsterdam,Atlanta,Bangkok,Barcelona,Beijing,Berlin,Boston,Brussels,Budapest,...,Shanghai,Singapore,Stockholm,Sydney,Taipei,Tokyo,Toronto,Warsaw,Washington,Zurich
0,Amsterdam,0.716981,0.254717,0.613208,0.594340,0.547170,0.349057,0.377358,0.669811,0.528302,...,0.452830,0.735849,0.537736,0.754717,0.594340,0.660377,0.735849,0.528302,0.367925,0.669811
1,Atlanta,0.586957,0.782609,0.500000,0.478261,0.478261,0.478261,0.478261,0.760870,0.478261,...,0.478261,0.521739,0.565217,0.630435,0.630435,0.782609,0.717391,0.478261,0.717391,0.565217
2,Bangkok,0.471015,0.166667,0.565217,0.405797,0.471015,0.239130,0.260870,0.514493,0.413043,...,0.384058,0.637681,0.362319,0.637681,0.521739,0.623188,0.528985,0.384058,0.347826,0.471015
3,Barcelona,0.642857,0.224490,0.571429,0.673469,0.469388,0.367347,0.244898,0.693878,0.520408,...,0.377551,0.673469,0.510204,0.653061,0.530612,0.724490,0.693878,0.500000,0.346939,0.642857
4,Beijing,0.432836,0.164179,0.485075,0.343284,0.477612,0.208955,0.291045,0.485075,0.358209,...,0.343284,0.597015,0.313433,0.604478,0.470149,0.559702,0.492537,0.343284,0.320896,0.447761

In [3]:
dolphins = nx.read_pajek("dolphins.net")

In [6]:
print(nx.info(dolphins))

Name:
Type: Graph
Number of nodes: 62
Number of edges: 159
Average degree:   5.1290

In [5]:
dolphins = nx.Graph(dolphins)

In [11]:
dolphins.node['Five']

{'id': '12', 'shape': '0.0', 'x': 327.18512, 'y': 173.43272}

In [10]:
dolphins.nodes()

['Five',
 'Cross',
 'TR99',
 'Jonah',
 'Web',
 'DN16',
 'SN96',
 'TR88',
 'DN63',
 'Kringel',
 'SN4',
 'Topless',
 'SN100',
 'Mus',
 'Thumper',
 'Zap',
 'Trigger',
 'Haecksel',
 'Notch',
 'TR120',
 'Shmuddel',
 'Upbang',
 'Quasi',
 'SN89',
 'TR77',
 'TR82',
 'Zig',
 'Number1',
 'Patchback',
 'Knit',
 'Wave',
 'Hook',
 'MN23',
 'Feather',
 'SN9',
 'Jet',
 'SMN5',
 'DN21',
 'Gallatin',
 'Fish',
 'CCL',
 'Beescratch',
 'Vau',
 'SN63',
 'Beak',
 'TSN83',
 'Grin',
 'Zipfel',
 'Fork',
 'Stripes',
 'Ripplefluke',
 'MN83',
 'Bumper',
 'Oscar',
 'SN90',
 'TSN103',
 'Whitetip',
 'Double',
 'MN105',
 'MN60',
 'Scabs',
 'PL']

In [12]:
real_assortativity = nx.degree_assortativity_coefficient(dolphins)
print(real_assortativity)

-0.0435940282153

In [20]:
polbooks = nx.read_graphml("polbooks.graphml")

In [21]:
nx.degree_assortativity_coefficient(polbooks)

-0.12789600966671899

In [22]:
nx.attribute_assortativity_coefficient(polbooks,'value')

0.7233077584970603

In [25]:
polbooks.node['20']

{'Modularity Class': 0,
 'b': 229,
 'g': 150,
 'label': 'Ten Minutes from Normal',
 'r': 154,
 'size': 11.73913,
 'value': 'c',
 'x': -33.684486,
 'y': 126.83871}

In [39]:
degree_seq = list(nx.degree(polbooks).values())

In [42]:
null_graph = nx.configuration_model(degree_seq)
null_graph = nx.Graph(null_graph)

In [43]:
print(nx.info(null_graph))

Name: configuration_model 105 nodes 441 edges
Type: Graph
Number of nodes: 105
Number of edges: 414
Average degree:   7.8857

In [45]:
nx.degree_assortativity_coefficient(null_graph)

-0.09509012917845816

In [47]:
null_graph.node[0]

{}

In [55]:
values = []
for node in polbooks.nodes():
    values.append(polbooks.node[node]['value'])

In [56]:
values

['c',
 'c',
 'c',
 'n',
 'n',
 'c',
 'c',
 'c',
 'l',
 'l',
 'c',
 'l',
 'c',
 'c',
 'l',
 'c',
 'l',
 'l',
 'l',
 'l',
 'l',
 'c',
 'n',
 'l',
 'l',
 'c',
 'l',
 'c',
 'c',
 'n',
 'c',
 'n',
 'l',
 'l',
 'c',
 'n',
 'c',
 'l',
 'l',
 'c',
 'c',
 'c',
 'c',
 'l',
 'n',
 'l',
 'l',
 'c',
 'l',
 'l',
 'c',
 'c',
 'l',
 'c',
 'l',
 'l',
 'l',
 'l',
 'c',
 'l',
 'c',
 'c',
 'l',
 'c',
 'l',
 'l',
 'c',
 'c',
 'c',
 'l',
 'l',
 'c',
 'c',
 'l',
 'c',
 'c',
 'l',
 'l',
 'l',
 'c',
 'c',
 'c',
 'n',
 'n',
 'c',
 'c',
 'c',
 'l',
 'c',
 'l',
 'n',
 'c',
 'c',
 'n',
 'c',
 'l',
 'l',
 'c',
 'n',
 'l',
 'n',
 'l',
 'c',
 'c',
 'l']

In [66]:
distrib = {}
total = 0
for v in values:
    total += 1
    try:
        distrib[v] += 1
    except:
        distrib[v] = 1

In [67]:
distrib

{'c': 49, 'l': 43, 'n': 13}

In [68]:
total

105

In [65]:
probs = {}

In [71]:
for value,count in distrib.items():
    print(value, count, total, count/total)
    probs[value] = count/total

c 49 105 0.4666666666666667
n 13 105 0.12380952380952381
l 43 105 0.4095238095238095

In [72]:
probs

{'c': 0.4666666666666667, 'l': 0.4095238095238095, 'n': 0.12380952380952381}

https://stackoverflow.com/questions/3679694/a-weighted-version-of-random-choice

https://docs.scipy.org/doc/scipy/reference/stats.html