In [1]:
import pandas as pd

1. open the file `2000-NCAA-Div1A-Football-Teams-and-Conferences.txt`
2. select a section of text, excluding the line beginning with `#`
3. copy
4. execute the remaining cells in this notebook

In [96]:
df = pd.read_clipboard("\t")

In [97]:
df

,School,W,L,Pct,W.1,L.1,Pct.1,Pts,Pts.1,SRS,SOS,AP Pre,AP High,AP Post,Notes
0,Notre Dame,9,3,0.750,0,0,NaN,29.4,22.3,12.45,5.12,NaN,10.0,15.0,NaN
1,South Florida,7,4,0.636,0,0,NaN,25.3,18.3,-8.94,-12.13,NaN,NaN,NaN,NaN
2,UCF,7,4,0.636,0,0,NaN,30.3,20.1,-1.83,-7.10,NaN,NaN,NaN,NaN
3,Middle Tennessee State,6,5,0.545,0,0,NaN,31.8,28.7,-4.50,-6.50,NaN,NaN,NaN,NaN
4,Connecticut,3,8,0.273,0,0,NaN,20.0,33.5,-16.91,-9.36,NaN,NaN,NaN,NaN
5,Louisiana Tech,3,9,0.250,0,0,NaN,26.4,33.0,-10.72,-5.30,NaN,NaN,NaN,NaN
6,Louisiana-Lafayette,1,10,0.091,0,0,NaN,15.5,32.3,-21.67,-8.58,NaN,NaN,NaN,NaN
7,Louisiana-Monroe,1,10,0.091,0,0,NaN,8.7,37.7,-26.52,-7.89,NaN,NaN,NaN,NaN
8,Navy,1,10,0.091,0,0,NaN,16.5,35.5,-15.36,0.73,NaN,NaN,NaN,NaN

In [84]:
df.School

0    Texas Christian
1               UTEP
2       Fresno State
3     San Jose State
4              Tulsa
5             Hawaii
6               Rice
7                SMU
8             Nevada
Name: School, dtype: object

In [85]:
df.School.values

array(['Texas Christian', 'UTEP', 'Fresno State', 'San Jose State',
       'Tulsa', 'Hawaii', 'Rice', 'SMU', 'Nevada'], dtype=object)

In [32]:
members = {}

In [98]:
members['Independents'] = df.School.values

In [99]:
members

{'ACC': array(['Florida State', 'Clemson', 'Georgia Tech', 'Virginia',
        'North Carolina State', 'North Carolina', 'Maryland', 'Wake Forest',
        'Duke'], dtype=object),
 'Big 12': array(['Nebraska', 'Kansas State', 'Iowa State', 'Colorado', 'Kansas',
        'Missouri', 'Oklahoma', 'Texas', 'Texas A&M', 'Texas Tech',
        'Oklahoma State', 'Baylor'], dtype=object),
 'Big East': array(['Miami (FL)', 'Virginia Tech', 'Pitt', 'Syracuse', 'Boston College',
        'West Virginia', 'Temple', 'Rutgers'], dtype=object),
 'Big Ten': array(['Michigan', 'Northwestern', 'Purdue', 'Ohio State', 'Wisconsin',
        'Minnesota', 'Penn State', 'Iowa', 'Illinois', 'Michigan State',
        'Indiana'], dtype=object),
 'Big West': array(['Boise State', 'Utah State', 'Idaho', 'New Mexico State',
        'North Texas', 'Arkansas State'], dtype=object),
 'Conf-USA': array(['Louisville', 'East Carolina', 'Cincinnati', 'Southern Mississippi',
        'UAB', 'Tulane', 'Memphis', 'Houston', 'Army'], dtype=object),
 'Independents': array(['Notre Dame', 'South Florida', 'UCF', 'Middle Tennessee State',
        'Connecticut', 'Louisiana Tech', 'Louisiana-Lafayette',
        'Louisiana-Monroe', 'Navy'], dtype=object),
 'Mid-American': array(['Marshall', 'Ohio', 'Akron', 'Miami (OH)', 'Bowling Green State',
        'Buffalo', 'Kent State', 'Toledo', 'Western Michigan',
        'Northern Illinois', 'Ball State', 'Eastern Michigan',
        'Central Michigan'], dtype=object),
 'Mountain West': array(['Colorado State', 'Air Force', 'Nevada-Las Vegas', 'Brigham Young',
        'New Mexico', 'Utah', 'San Diego State', 'Wyoming'], dtype=object),
 'Pac-10': array(['Oregon State', 'Washington', 'Oregon', 'Stanford', 'Arizona State',
        'UCLA', 'Arizona', 'USC', 'Washington State', 'California'], dtype=object),
 'SEC': array(['Florida', 'Georgia', 'South Carolina', 'Tennessee', 'Vanderbilt',
        'Kentucky', 'Auburn', 'LSU', 'Mississippi State', 'Ole Miss',
        'Arkansas', 'Alabama'], dtype=object),
 'WAC': array(['Texas Christian', 'UTEP', 'Fresno State', 'San Jose State',
        'Tulsa', 'Hawaii', 'Rice', 'SMU', 'Nevada'], dtype=object)}

In [107]:
for conf in members:
    print(conf, end="")
    print("\t\t", end="")
    sep = ""
    for school in members[conf]:
        print(" {}{}".format(sep, school), end="")
        sep = ","
    print("")

Pac-10		 Oregon State ,Washington ,Oregon ,Stanford ,Arizona State ,UCLA ,Arizona ,USC ,Washington State ,California
Big Ten		 Michigan ,Northwestern ,Purdue ,Ohio State ,Wisconsin ,Minnesota ,Penn State ,Iowa ,Illinois ,Michigan State ,Indiana
Big West		 Boise State ,Utah State ,Idaho ,New Mexico State ,North Texas ,Arkansas State
Mid-American		 Marshall ,Ohio ,Akron ,Miami (OH) ,Bowling Green State ,Buffalo ,Kent State ,Toledo ,Western Michigan ,Northern Illinois ,Ball State ,Eastern Michigan ,Central Michigan
Conf-USA		 Louisville ,East Carolina ,Cincinnati ,Southern Mississippi ,UAB ,Tulane ,Memphis ,Houston ,Army
Big East		 Miami (FL) ,Virginia Tech ,Pitt ,Syracuse ,Boston College ,West Virginia ,Temple ,Rutgers
WAC		 Texas Christian ,UTEP ,Fresno State ,San Jose State ,Tulsa ,Hawaii ,Rice ,SMU ,Nevada
ACC		 Florida State ,Clemson ,Georgia Tech ,Virginia ,North Carolina State ,North Carolina ,Maryland ,Wake Forest ,Duke
SEC		 Florida ,Georgia ,South Carolina ,Tennessee ,Vanderbilt ,Kentucky ,Auburn ,LSU ,Mississippi State ,Ole Miss ,Arkansas ,Alabama
Big 12		 Nebraska ,Kansas State ,Iowa State ,Colorado ,Kansas ,Missouri ,Oklahoma ,Texas ,Texas A&M ,Texas Tech ,Oklahoma State ,Baylor
Independents		 Notre Dame ,South Florida ,UCF ,Middle Tennessee State ,Connecticut ,Louisiana Tech ,Louisiana-Lafayette ,Louisiana-Monroe ,Navy
Mountain West		 Colorado State ,Air Force ,Nevada-Las Vegas ,Brigham Young ,New Mexico ,Utah ,San Diego State ,Wyoming

In [116]:
df = pd.DataFrame(columns=["Conference","Schools"])

In [118]:
conferences = []
schools = []
for conf in members:
    #print(conf,", ".join(members[conf]))
    conferences.append(conf)
    schools.append(", ".join(members[conf]))

In [119]:
conferences

['Pac-10',
 'Big Ten',
 'Big West',
 'Mid-American',
 'Conf-USA',
 'Big East',
 'WAC',
 'ACC',
 'SEC',
 'Big 12',
 'Independents',
 'Mountain West']

In [120]:
schools

['Oregon State, Washington, Oregon, Stanford, Arizona State, UCLA, Arizona, USC, Washington State, California',
 'Michigan, Northwestern, Purdue, Ohio State, Wisconsin, Minnesota, Penn State, Iowa, Illinois, Michigan State, Indiana',
 'Boise State, Utah State, Idaho, New Mexico State, North Texas, Arkansas State',
 'Marshall, Ohio, Akron, Miami (OH), Bowling Green State, Buffalo, Kent State, Toledo, Western Michigan, Northern Illinois, Ball State, Eastern Michigan, Central Michigan',
 'Louisville, East Carolina, Cincinnati, Southern Mississippi, UAB, Tulane, Memphis, Houston, Army',
 'Miami (FL), Virginia Tech, Pitt, Syracuse, Boston College, West Virginia, Temple, Rutgers',
 'Texas Christian, UTEP, Fresno State, San Jose State, Tulsa, Hawaii, Rice, SMU, Nevada',
 'Florida State, Clemson, Georgia Tech, Virginia, North Carolina State, North Carolina, Maryland, Wake Forest, Duke',
 'Florida, Georgia, South Carolina, Tennessee, Vanderbilt, Kentucky, Auburn, LSU, Mississippi State, Ole Miss, Arkansas, Alabama',
 'Nebraska, Kansas State, Iowa State, Colorado, Kansas, Missouri, Oklahoma, Texas, Texas A&M, Texas Tech, Oklahoma State, Baylor',
 'Notre Dame, South Florida, UCF, Middle Tennessee State, Connecticut, Louisiana Tech, Louisiana-Lafayette, Louisiana-Monroe, Navy',
 'Colorado State, Air Force, Nevada-Las Vegas, Brigham Young, New Mexico, Utah, San Diego State, Wyoming']

In [130]:
df.Conference = conferences
df.Schools = schools

How to display full (non-truncated) dataframe information in html when converting from pandas dataframe to html?

In [131]:
pd.set_option('display.max_colwidth', -1)

In [132]:
df

,Conference,Schools
0,Pac-10,"Oregon State, Washington, Oregon, Stanford, Arizona State, UCLA, Arizona, USC, Washington State, California"
1,Big Ten,"Michigan, Northwestern, Purdue, Ohio State, Wisconsin, Minnesota, Penn State, Iowa, Illinois, Michigan State, Indiana"
2,Big West,"Boise State, Utah State, Idaho, New Mexico State, North Texas, Arkansas State"
3,Mid-American,"Marshall, Ohio, Akron, Miami (OH), Bowling Green State, Buffalo, Kent State, Toledo, Western Michigan, Northern Illinois, Ball State, Eastern Michigan, Central Michigan"
4,Conf-USA,"Louisville, East Carolina, Cincinnati, Southern Mississippi, UAB, Tulane, Memphis, Houston, Army"
5,Big East,"Miami (FL), Virginia Tech, Pitt, Syracuse, Boston College, West Virginia, Temple, Rutgers"
6,WAC,"Texas Christian, UTEP, Fresno State, San Jose State, Tulsa, Hawaii, Rice, SMU, Nevada"
7,ACC,"Florida State, Clemson, Georgia Tech, Virginia, North Carolina State, North Carolina, Maryland, Wake Forest, Duke"
8,SEC,"Florida, Georgia, South Carolina, Tennessee, Vanderbilt, Kentucky, Auburn, LSU, Mississippi State, Ole Miss, Arkansas, Alabama"
9,Big 12,"Nebraska, Kansas State, Iowa State, Colorado, Kansas, Missouri, Oklahoma, Texas, Texas A&M, Texas Tech, Oklahoma State, Baylor"
10,Independents,"Notre Dame, South Florida, UCF, Middle Tennessee State, Connecticut, Louisiana Tech, Louisiana-Lafayette, Louisiana-Monroe, Navy"
11,Mountain West,"Colorado State, Air Force, Nevada-Las Vegas, Brigham Young, New Mexico, Utah, San Diego State, Wyoming"